<!DOCTYPE html>
<html lang="ES-CO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href ="{% url 'app:vista1' %}">Ir a la vista 2</a>
    
    

{%block contenido%}

    <ul> {%for c in producto %}
        <li>{{c.id}} {{c.nombre}}</li>
    {%endfor%}  
    </ul>


<h2>
    {%if producto%}
    Hay productos disponibles
    {%else%}
    No hay productos disponibles
    {%endif%}   
    </h2>
{%endblock%}
</body>
</html>


























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































